.user-bots {
  width: 100%;
  height: auto;
  border-radius: 40px;
  background: #1e3653;
  padding: 19px 33px;

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 13px;

    li {
      height: 93px;
      display: flex;
      border-radius: 40px;
      background: #152333;
      align-items: center;
      justify-content: space-between;
      padding: 0px 25px 0px 14px;

      @media screen and (max-width: 750px) {
        flex-direction: column;
        align-items: flex-start;
        padding: 15px;
        gap: 10px;
        height: auto;
      }

      .bots__item-info {
        display: flex;
        gap: 17px;
        align-items: center;

        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }

        .bots__item-name {
          color: #fff;
          margin-bottom: 15px;
        }

        .bots__item-status {
          color: #c0bfc0;
          font-size: 14px;
          font-weight: 600;
        }
      }

      .bots__item-buttons {
        display: flex;
        gap: 25px;

        @media screen and (max-width: 750px) {
          padding-left: 65px;
          gap: 10px;
        }
        @media screen and (max-width: 401px) {
          flex-direction: column;
          width: 100%;
          button {
            width: 100%;
          }
        }
      }
    }
  }
}
