section {
  // margin: 0 auto;
}

.landing-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bg-cloud-contain {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;

  .bg-cloud {
    position: absolute;
  }
}

.overview {
  z-index: 0;
  position: relative;
  width: 100%;
  height: 714px;
  display: flex;

  background: rgb(69, 130, 249);

  .overview__inner {
    z-index: 1;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;

    .overview__left {
      .overview__left-title {
        color: rgb(255, 255, 255);
        font-size: 96px;
        font-weight: 600;
        line-height: 116px;
      }
      .overview__left-description {
        margin-left: 60px;
        color: rgb(165, 211, 255);
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
      }
    }

    .overview__right {
      .overview__right-btn {
        width: 380px;
        height: 114px;

        border: none;
        outline: none;
        border-radius: 40px;
        background: rgb(255, 255, 255);

        font-size: 64px;
        font-weight: 600;
        color: rgb(192, 191, 192);
        cursor: pointer;
      }
    }
  }
}

.advantages {
  margin-top: 30px;

  .advantages__cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 70px;
    gap: 30px;

    .advantages__cards-item_white {
      width: 380px;
      height: 200px;
      padding: 20px 0 0 40px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      border-radius: 40px;
      background: rgb(255, 255, 255);

      .advantages__cards-item-title {
        color: rgb(0, 0, 0);
        font-size: 38px;
        font-weight: 600;
        line-height: 45px;
      }

      .advantages__cards-item-descraption {
        color: rgb(192, 191, 192);
        font-size: 14px;
        font-weight: 700;
      }
    }

    .advantages__cards-item_blue {
      width: 380px;
      height: 200px;
      padding: 20px 0 0 40px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      border-radius: 40px;
      background: rgb(71, 154, 252);

      .advantages__cards-item-title {
        color: rgb(255, 255, 255);
        font-size: 38px;
        font-weight: 600;
        line-height: 45px;
      }

      .advantages__cards-item-descraption {
        color: rgb(165, 211, 255);
        font-size: 14px;
        font-weight: 700;
      }
    }
  }
}
