header {
  width: 100%;
  height: 83px;
  display: flex;
  justify-content: space-between;
  padding-left: 26px;

  color: #fff;
  font-size: 16px;
  font-weight: 600;

  @media screen and (max-width: 750px) {
    z-index: 99;
    position: fixed;
    transform: translateY(-100%);
    height: 100vh;
    background: #1e3653;
    justify-content: center;
    transition: 0.3s;
    flex-direction: column;
    padding: 25px;
  }
  .header__inner {
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 750px) {
      position: absolute;
      top: 0;
      height: auto;
    }
  }

  .logo__contain {
    align-self: center;

    @media screen and (max-width: 750px) {
      align-self: unset;
      padding-top: 15px;
      // position: absolute;
      top: 0;
    }
  }

  .balance__contain {
    width: 281px;
    height: 68px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 0px 0px 40px 40px;
    background: #1e3653;

    @media screen and (max-width: 750px) {
      position: relative;
      top: 15px;
      align-items: unset;
      width: 150px;
      display: block;
    }

    p:nth-child(1) {
      color: #fff;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;

      @media screen and (max-width: 750px) {
        font-size: 11px;
      }
    }
    p:nth-child(2) {
      color: #c0bfc0;
      font-family: Inter;
      font-size: 11px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }

    a {
      margin-left: 12px;
      text-decoration: none;
      color: #2596ff;
      font-family: Inter;
      font-size: 11px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }

  .user-info__contain {
    position: relative;
    display: flex;
    width: 240px;
    height: 83px;
    border-radius: 40px 0px 0px 40px;
    background: #1e3653;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 750px) {
      flex-direction: column;
      right: 40px;
      top: 4px;
      background: none;
      width: auto;
    }

    .user-info__inner {
      position: absolute;
      display: flex;
      gap: 10px;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      min-width: 94%;
      max-height: 59px;

      @media screen and (max-width: 750px) {
        align-items: center;
        height: inherit;
        position: unset;
        transform: unset;
        flex-direction: row-reverse;
        width: auto;
        min-width: unset;
        margin-right: 15px;
      }

      .user-info__avatar {
        width: 59px;
        height: 59px;
        border-radius: 50%;
        background-color: white;

        @media screen and (max-width: 750px) {
          width: 50px;
          height: 50px;
        }
      }

      .user-info__links {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        shape-outside: margin-box;
        float: left;

        @media screen and (max-width: 750px) {
          text-align: right;
          justify-content: center;
        }

        .user-info__links-name {
          color: #fff;
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;

          @media screen and (max-width: 750px) {
            font-size: 14px;
          }
        }
        .user-info__links-telegram {
          text-decoration: none;
          color: #2596ff;
          font-family: Inter;
          font-size: 11px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
        .user-info__links-subscription {
          color: #c0bfc0;
          font-family: Inter;
          font-size: 11px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;

          span {
            color: #e94747;
            font-family: Inter;
            font-size: 11px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          }
        }
      }
    }
  }
}

.menuActive {
  display: flex;
  transform: translateY(0);
}
