.aside {
  position: sticky;
  top: 20px;
  width: 259px;
  height: 654px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: 0.5s;

  @media screen and (max-width: 950px) {
    position: unset;
    height: auto;
    width: 100%;
    overflow: hidden;
    border-radius: 40px;
  }
  @media screen and (max-width: 750px) {
    display: none;
    z-index: 101;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 0;
  }

  .menu {
    width: 100%;
    height: 417px;
    border-radius: 40px;
    padding: 20px;
    background: #1e3653;
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    transition: 1s ease-out;

    @media screen and (max-width: 750px) {
      width: 100%;
      padding: 0;
    }

    .menu__title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 50px;

      @media screen and (max-width: 750px) {
        justify-content: center;
      }

      .menu__arrow {
        display: none;
        color: white;
        transform: rotate(0deg);
        transition: 0.2s;
        cursor: pointer;
        user-select: none;

        @media screen and (max-width: 950px) {
          display: block;
        }
        @media screen and (max-width: 950px) {
          display: none;
        }
      }
      .menu__arrow_active {
        transform: rotate(90deg);
      }
    }

    @media screen and (max-width: 950px) {
      height: auto;
    }

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 19px;
      margin-top: 19px;

      @media screen and (max-width: 950px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
      }
      @media screen and (max-width: 750px) {
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        padding-bottom: 15px;
      }

      .nav__item {
        width: 211px;
        height: 49px;
        line-height: 19px;
        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 40px;
        background: #152333;

        @media screen and (max-width: 950px) {
          padding: 0 15px;
          width: 100%;
          height: 42px;
        }
        @media screen and (max-width: 750px) {
          padding: 0;
        }

        a {
          color: #fff;
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          text-decoration: none;

          @media screen and (max-width: 950px) {
            font-size: 13px;
          }
          @media screen and (max-width: 750px) {
            font-size: 16px;
          }
        }
      }
    }
  }
}

.menu_show {
  max-height: 417px !important;
}
