@import-normalize;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #4582f9;
  font-family: Inter;
  font-style: normal;
  line-height: normal;
}

@font-face {
  font-family: inter;
  src: url("./assets/fonts/Inter.ttf");
}

.wrapper {
  width: 98%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 33px;
  display: flex;
  gap: 23px;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 19px;
  margin-bottom: 24px;
}