.bots-list__title {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 30px;
}

.bots-list {
  width: 100%;
  min-height: 488px;
  border-radius: 40px;
  background: #1e3653;
  padding: 19px 33px;
}
